.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-image: url("../../public/header.png"); /* Resim dosyanızın yolunu buraya ekleyin */
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  color: black;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}

.buttons span {
  margin-left: 8px;
  color: black;
  font-size: medium;
}
