.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-image: url("../../public/header.png"); /* Resim dosyanızın yolunu buraya ekleyin */
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  color: black;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}
.buttons button img {
  width: 40px;
}

.buttons span {
  margin-left: 8px;
  color: black;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .logo h1 {
    font-size: 25px;
  }
  .buttons span {
    margin-left: 8px;
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .logo h1 {
    color: black;
    font-size: 22px;
  }
  .buttons button img {
    width: 30px;
  }
  .buttons span {
    margin-left: 6px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .logo h1 {
    color: black;
    font-size: 16px;
  }
  .buttons button img {
    width: 25px;
  }
  .buttons span {
    margin-left: 6px;
    font-size: 12px;
  }
}
@media (max-width: 440px) {
  .logo h1 {
    color: black;
    font-size: 14px;
  }
  .buttons button img {
    width: 20px;
  }
  .buttons span {
    margin-left: 6px;
    font-size: 10px;
  }
}
