.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0f0f0;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  .h2 {
    margin-block: 20px;
    color: black;
    font-size: xx-large;
    font-weight: 500;
  }
}
.leftColumn .stars {
  width: 400px;
}
.leftColumn .target {
  width: 144px;
}
.leftColumn img {
  width: 400px;
}

.rightColumn {
  margin-right: 5%;
}
