.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-weight: 400;
}
.container .content {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.container .h1 {
  color: black;
  font-weight: 400;
  margin-top: 20px;
}
.container .h2 .p {
  font-weight: 400;
  text-align: left;
}
.container .h2 .ol .li {
  font-weight: 400;
  text-align: left;
}
.container .h2 .li {
  font-weight: 400;
  text-align: left;
}

@media (max-width: 1200px) {
  .container .content {
    width: 65%;
  }
}
@media (max-width: 990px) {
  .container .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container .content {
    width: 90%;
  }
}
@media (max-width: 440px) {
  .container .content {
    width: 90%;
  }
}
