.footer {
  background-color: #e0e0e0;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.25));
  width: 100%;

  .p {
    color: rgb(0, 0, 0);
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }

  .container button {
    align-items: center;
    display: flex;
    padding-inline: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .container button span {
    margin-left: 10px;
    color: black;
  }
}
