.footer {
  background-color: #e0e0e0;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.25));
  width: 100%;

  .p {
    color: rgb(0, 0, 0);
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .container button {
    align-items: center;
    display: flex;
    padding-inline: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .container button span {
    margin-left: 10px;
    color: black;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .footer .container button span {
    margin-left: 10px;
    font-size: 18px;
  }
  .footer .p {
    margin-top: 0px;
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .footer .container button span {
    margin-left: 8px;
    font-size: 16px;
  }
  .footer .p {
    margin-top: 0px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer .container button span {
    margin-left: 8px;
    font-size: 12px;
  }

  .footer .container button {
    padding-inline: 10px;
  }
  .footer .container button img {
    width: 25px;
  }
  .footer .p {
    margin-top: 10px;
    font-size: 12px;
  }
}
@media (max-width: 440px) {
  .footer {
    flex-direction: column;
  }
  .footer .container button span {
    margin-left: 8px;
    font-size: 10px;
  }
  .footer .p {
    margin-top: 10px;
    font-size: 10px;
  }

  .footer .container button {
    padding-inline: 3px;
  }
  .footer .container button img {
    width: 25px;
  }
}
