.mainContainer {
    height: 100%;
    width: 100%;
    height: 85vh;
  
    .itemParent {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      .container {
        width: 50%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid #e2e2e2;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        @media (max-width: 1200px) {
          width: 50%;
        }
        @media (max-width: 990px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 80%;
        }
        @media (max-width: 440px) {
          width: 90%;
        }
  
        .question {
          color: black;
          font-weight: 400;
          font-size: 20px;
  
          @media (max-width: 1200px) {
            font-size: 20px;
          }
          @media (max-width: 990px) {
            font-size: 20px;
          }
          @media (max-width: 768px) {
            font-size: 14px;
          }
          @media (max-width: 440px) {
            font-size: 12px;
          }
        }
  
        .iconContainer {
          display: flex;
          align-items: center;
        }
  
        .icon {
          width: 12px;
          height: auto;
          margin-right: 10px;
        }
  
        .icon.rotated  {
          transform: rotate(90deg);
          animation: rotateArrow 0.5s forwards;
        }
      }
  
      .answerContainer {
        width: 50%;
        margin-top: 5px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: flex-start;
  
        p {
          color: black;
          font-size: 20px;
  
          @media (max-width: 1200px) {
            font-size: 20px;
          }
          @media (max-width: 990px) {
            font-size: 20px;
          }
          @media (max-width: 768px) {
            font-size: 14px;
          }
          @media (max-width: 440px) {
            font-size: 12px;
          }
        }
  
        @media (max-width: 1200px) {
          width: 50%;
        }
        @media (max-width: 990px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 80%;
        }
        @media (max-width: 440px) {
          width: 90%;
        }
      }
    }
  }
  
  @keyframes rotateArrow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }